.card {
    border: solid white 2px;
    background-color: white;
    transition: 0.2s ease-out;
    margin: 32px;
    min-width: 200px;
    min-height: 350px;
}

.card:hover {
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}

.card img {
    max-width: 100%;
    max-height: 100%;
}

.card h2 {
    margin: 8px;
    max-width: fit-content;
}

.cardGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}