.card {
    border: solid var(--main-color) 4px;
    background-color: #303030;
    transition: 0.2s ease-out;
    margin: 32px;
    min-width: 200px;
    min-height: 350px;
    max-width: min-content;
    display: flex;
    flex-direction: column;
}

.card:hover {
    background-color: #505050;
}

.card img {
    max-width: 100%;
    max-height: 100%;
}

.card h2 {
    margin: 8px;
    max-width: fit-content;
}

.card h3 {
    margin: 0.2em 0.1em;
    border-bottom: solid var(--font-color) 1px;
    max-width: fit-content;
    padding-left: 0.25em;
    min-width: -webkit-fill-available;
    min-width: -moz-available;
}

.card p {
    margin: 0.5em;
}

.card button {
    margin: 0.5em;
    background-color: #252525;
    color: var(--font-color);
    border: solid var(--font-color) 1px;
    transition: 0.2s ease-out;
    margin-top: auto;
}

.card button:hover {
    box-shadow: 0px 0px 4px 1px var(--font-color);
}

.cardGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--bg-color);
    padding: 1em 10%;
}