@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root {
    --main-color: #121212;
    --bg-color: #202124;
    --font-color: #f5f5f5; 
}

html {
    background-color: var(--main-color);
    overflow-y: scroll;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    min-width: 350px;
    color: var(--font-color);
}

.layout {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    background-color: var(--bg-color);
    border-bottom: solid 6px var(--main-color);
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav h1 {
    font-size: 2em;
    font-weight: 300;
}

nav .links {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

nav a {
    display: inline-block;
    margin-left: 20px;
    font-weight: 300;
    text-decoration: none;
    color: var(--font-color);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

nav a:hover {
    color: lightslategray;
}

nav .social-media {
    align-self: center;
    margin: 5px 0px;
}

nav .social-media img {
    max-height: 36px;
}

nav .social-media .material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}