@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root {
    --main-color: #121212;
    --bg-color: #202124;
    --font-color: #f5f5f5; 
}

html {
    background-color: var(--main-color);
    overflow-y: scroll;
}

body {
    font-family: "Roboto", sans-serif;
    min-width: 350px;
    color: var(--font-color);
}

.layout {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    background-color: var(--bg-color);
    margin-bottom: 6px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

nav h1 {
    font-size: 2em;
    font-weight: 300;
}

nav .links {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

nav a {
    display: inline-block;
    margin-left: 20px;
    font-weight: 300;
    text-decoration: none;
    color: var(--font-color);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

nav a:hover {
    color: lightslategray;
}

nav .social-media {
    align-self: center;
    margin: 5px 0px;
}

nav .social-media img {
    max-height: 48px;
}