@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

:root {
    --main-color: #121212;
    --bg-color: #202124;
    --font-color: #f5f5f5; 
}

html {
    background-color: var(--bg-color);
    overflow-y: scroll;
}

body {
    margin: 0;
    padding-bottom: 20px;
    font-family: "Roboto", sans-serif;
    min-width: 350px;
    color: var(--font-color);
}

.layout {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    background-color: var(--bg-color);
    border-bottom: solid 6px var(--main-color);
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav h1 {
    font-size: 2em;
    font-weight: 300;
}

nav .links {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

nav a {
    display: inline-block;
    margin-left: 20px;
    font-weight: 300;
    text-decoration: none;
    color: var(--font-color);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

nav a:hover {
    color: lightslategray;
}

nav .social-media {
    align-self: center;
    margin: 5px 0px;
    display: flex;
    align-items: flex-start
}

nav .social-media img {
    max-height: 36px;
}

nav .social-media .material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.contactForm h2 {
    text-align: center;
    font-weight: 400;
    font-size: 2.5em;
}

.contactForm form {
    display:flex;
    flex-direction: column;
    max-width: 500px;
    margin: 20px auto;
    padding: 0px 20px;
}

.contactForm input {
    margin-bottom: 6px;
    font-size: 1.25em;
    background-color: #303134;
    color: inherit;
    border: none;
    border-radius: 4px;
    padding: 0.33em;
}

.contactForm textarea {
    font-family: inherit;
    font-size: 1.25em;
    resize: none;
    background-color: #303134;
    color: inherit;
    border: 1px  solid transparent;
    border-radius: 4px;
    padding: 0.33em;
    height: 5em;
    margin-bottom: 6px;
}

.contactForm .submit {
    margin-left: auto;
    width: 33%;
    border: solid 1px #303134
}

.contactForm .submit:hover {
    border: 1px solid #5f6368
}