.category p {
    margin: 4px 0px;
}

.category h2 {
    border-bottom: 2px solid var(--font-color);
}

.category h3 {
    margin-bottom: 4px;
}

.category {
    background-color: var(--bg-color);
    padding: 1em 10%;
}