---
---

@import "{{ site.theme }}";

nav ul li a {
    color: #267CB9;
    font-weight: bold;
    font-size: 14px;
    padding-top: 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: block;
    margin: 0 0 20px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

nav ul {
    display: table;
}

nav ul li {
    display: table-cell;
    vertical-align: middle;
}

